* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Oswald', sans-serif;    
}

.cabecalho {
    background: steelblue;
    color: #fff;
    border-bottom: solid 5px #4faddb;
    height: 90px;    
}




    
       /* ABRE ARTIGOS EM DESTAQUE PARA LAYOUT */


    






       





      











       























       